@keyframes bgcolor {
    0% {
        background-color: #FFBBBB
    }

    25% {
        background-color: #FFFCA8
    }

    50% {
        background-color: #CFFFB9
    }

    75% {
        background-color: #BAFBFF
    }

    100% {
        background-color: #DCB0FF
    }
}

@font-face {
  font-family: terminalGrotesque;
  src: url(assets/fonts/terminal-grotesque-webfont.woff);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.random-colors {
    -webkit-animation: bgcolor 2s infinite;
    animation: bgcolor 2s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}

.illustration-text {
  color: #001AFF;
  font-size: 24px;
  font-family: terminalGrotesque;
  height: 20vh;
}

a:hover {
  color: #42FF00;
}

.work-text {
  color: #001AFF;
  font-size: 24px;
  font-family: terminalGrotesque;
  height: 80vh;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(-180deg);
}

.about-text {
  color: #001AFF;
  font-size: 24px;
  font-family: terminalGrotesque;
  height: 80vh;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.active-box {
  color: #42FF00;
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y:scroll;
  height:100%;
  /*transform: translateY(100%);*/
}

#illustrations {
  display: none;
  margin: 10vh;
  padding-bottom: 10vh;
  padding-left: 4vh;
}

.work {
  display: none;
}

.about {
  display: none;
}

.gallery-img {
  width: 356px;
  height: 356px;
  object-fit:cover;
}
